* {
	margin: 0;
	padding: 0;
}

.navbar-nav,
.collapse {
	display: flex;
	align-items: right;
	justify-content: right;
}

.container {
	max-width: 1262px;
	margin: 0 auto;
	overflow: hidden;
}

#searchIcon {
	cursor: pointer;
}

#searchForm {
	display: none;
}

#searchForm.active {
	display: block;
}

.carouselWrapper {
	display: flex;
	height: 500px;
	width: 100%;
	align-items: center;
	overflow: hidden;
}

.carousel-item {
	overflow: hidden;
}

.mainImg {
	flex-grow: 1;
}
.mainImg img {
	object-fit: cover;
	width: 100%;
	position: sticky;

}

.info img {
	padding-right: 64px;
	width: 100%;
}
