* {
	margin: 0;
	padding: 0;
}

.navbar-nav,
.collapse {
	display: flex;
	align-items: right;
	justify-content: right;
}

.container {
	max-width: 1262px;
	margin: 0 auto;
	overflow: hidden;
}

#searchIcon {
	cursor: pointer;
}

#searchForm {
	display: none;
}

#searchForm.active {
	display: block;
}
